.about{
    display: flex;
    margin: 100px 0;
    padding: 0 50%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px auto;
    width: 200px;
}

.about .about_photos {
    width: 48%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about .about_content {
    width: 48%;
}

.about .about_content .label {

    display: block;

}

.about .about_content .description {
    
}